html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

img {
  max-width: 100%;
}

h2 {
  text-align: center;
}

article {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  padding: 2em;
}

article > img {
  width: 100%;
  object-fit: cover;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 7px 0 rgba(0,0,0,0.19);
  border-radius: 1em;
}

nav {
  background-color: rgba(122,170,210,0.7);
}

nav ul li a:hover {
  text-decoration: underline;
  transition-duration: 1s;
}

nav li a {
  text-decoration: none;
  color: white;
  background-color: #;
  padding: .6em .8em;
  border-radius: 25px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 7px 0 rgba(0,0,0,0.19);
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 1.9rem 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  padding: 0 .7em;
}

.banner {
  width: 100%;
  height: 80vh;
  background-color: #000;
  background-image: url("../images/bree-banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
}

main {
  max-width: 1080px;
  margin: 0 auto;
}

.intro {
  display: flex;
  justify-content: space-between;
}
/*
.intro-img {
  flex-basis: 0;
  flex-grow: 1;
} */

.intro-text {
  width: 50%;
  padding: 1em;
}

.intro-img > img {
  width: 15vw;
  height: 15vw;
  object-fit: cover;
  border-radius:10px;
  margin: auto;
  padding: 2em;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 7px 0 rgba(0,0,0,0.19);
}

section {
  padding: 2em;
}

footer {
  padding: 2em;
}
