html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

nav {
  background-color: rgba(122,170,210,0.8);
}

nav ol li a:hover {
  text-decoration: underline;
  transition-duration: 1s;
}
nav li a {
  text-decoration: none;
  color: white;
  background-color: #;
  padding: .5em .8em;
  border-radius: 25px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 7px 0 rgba(0,0,0,0.19);
}

nav ol {
  list-style-type: none;
  margin: 0;
  padding: 1.5rem 0;
  display: flex;
  justify-content: center;
}

nav ol li {
  padding: 0 .7em;
}

.banner {
  width: 100%;
  height: 80vh;
  background-color: #000;
  background-image: url("../images/bree-banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;

}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

main {
  max-width: 1080px;
  margin: 0 auto;
}
