html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  width: 100%;
  }

.banner {
  width: 100%;
  height: 80vh;
  background-color: #000;
  background-image: ../images/bree-banner.jpg;
  background-position: center center;


}
